<body{
    background-color: rgb(171, 109, 229);
    color: black;
}

header{
    border:solid 2px white;
    padding: 20px;
    font-size: 32px;
    color: rgb white;
}

    soction{
        background:rgb(171, 109, 229)
        padding-bottom: 80px;
        padding-top: 80px;
}
