body{
    background-color: rgb(171, 109, 229);
    color: black;
    font-family: "Dancing Script", cursive;
}

header{
    border-bottom:solid 2px white;
    padding: 20px;
    font-size: 50px;
    color: rgb white;
}

section{
    background:rgb(170, 143, 196);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 30px;
}

p{
     font-size: 30px;
}

img {
    height: 500px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  