body{
    background-color: rgb(171, 109, 229);
    color: black;
}

header{
    border-bottom:solid 2px white;
    padding: 20px;
    font-size: 32px;
    color: rgb white;
}

section{
    background:rgb(170, 143, 196);
    padding-bottom: 80px;
    padding-top: 80px;
     }